body, html {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    height: 100vh;
    width: 100vw;
    display: table;
}

main {
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    background-color: darkcyan;
    z-index: -1;
}

#container {
    margin: auto;
    background-color: darkcyan;
    width: 40vw;
    height: 70vh;
    position: relative;
    background-image: url("flappyback.png");
    background-size: contain;
    border-radius: 5%;
}

#bird {
    position: absolute;
    width: 7.5%;
    height: 7%;
    margin-left: 10vh;
    background-image: url("flappybird.png");
    background-size: cover;
}

.birdUp {
    transform: rotate(-20deg);
}

.birdDown {
    transform: rotate(20deg);
}

/*.pipeNorth {*/
/*    position: absolute;*/
/*    animation: movePipeNorth 9s infinite;*/
/*    background-image: url("pipeNorth.png");*/
/*    transform: rotate(180deg);*/
/*    background-size: cover;*/
/*    width: 10%;*/
/*}*/

/*.pipeSouth {*/
/*    position: absolute;*/
/*    animation: movePipeSouth 9s infinite;*/
/*    background-image: url("pipeSouth.png");*/
/*    background-size: cover;*/
/*    width: 10%;*/
/*}*/

#pipeNorth3 {
    position: absolute;
    animation: movePipeNorth 9s infinite;
    background-image: url("pipeNorth.png");
    transform: rotate(180deg);
    background-size: cover;
    width: 10%;
    height: 35%;
}

#pipeSouth3 {
    height: 35%;
    position: absolute;
    animation: movePipeSouth3 9s infinite;
    background-image: url("pipeSouth.png");
    background-size: cover;
    width: 10%;
}



#pipeNorth2 {
    position: absolute;
    animation: movePipeNorth 9s infinite;
    background-image: url("pipeNorth.png");
    transform: rotate(180deg);
    background-size: cover;
    width: 10%;
    height: 21%;
}

#pipeSouth2 {
    height: 45%;
    position: absolute;
    animation: movePipeSouth2 9s infinite;
    background-image: url("pipeSouth.png");
    background-size: cover;
    width: 10%;
}



#pipeNorth1 {
    position: absolute;
    animation: movePipeNorth 9s infinite;
    background-image: url("pipeNorth.png");
    transform: rotate(180deg);
    background-size: cover;
    width: 10%;
    height: 45%;
}

#pipeSouth1 {
    height: 21%;
    position: absolute;
    animation: movePipeSouth1 9s infinite;
    background-image: url("pipeSouth.png");
    background-size: cover;
    width: 10%;
}


@keyframes movePipeNorth {
    from {top: 0%; left: 90%;}
    to {top: 0%; left: -35%;}
}


@keyframes movePipeSouth3 {
    from {top: 65%; left: 90%;}
    to {top: 65%; left: -35%;}
}

@keyframes movePipeSouth2 {
    from {top: 55%; left: 90%;}
    to {top: 55%; left: -35%;}
}

@keyframes movePipeSouth1 {
    from {top: 79%; left: 90%;}
    to {top: 79%; left: -35%;}

}


.hidden {
    visibility: hidden;
}

.loseScreen {
    margin: auto;
    width: 40vw;
    height: 70vh;
    position: relative;
    background-color: red;
    border-radius: 5%;
    z-index: 1;
    text-align: center;
}